#starTrekImage {
    height: 60px;
    width: 300px;
}


ul {
    background-color: #333333;
    position: fixed;
    top: 0;
    width: 100%;

}
li {
    display: inline;
    float: right;
}

#libraryBanner {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 21px 16px;
    text-decoration: none;
}

#progess {
    background-color: #111;
}

#leftSpace {
    margin-right: 100px;
}

.container {
    position: fixed;
    display:inline-block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    alignment: center;
    background-color: 	rgba(117, 117, 117, 0.8);
    width: 90%;
    height: 80%;
}

#leftSide {
    alignment: left;
    margin-left: 200px;
    margin-top: 30px;
}

#rightSide {
    alignment: right;
    margin-right: 200px;
    color: darkgray;
    height: 75%;
    width: 45%;
}